<div class="footer">
    <div class="footerContainer">
        <div class="browesPage">
            <h5>Browes Pages</h5>
            <ul>
                <li>Blood Details</li>
                <li>Doner Details</li>
                <li>Login</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="project">
            <h5>Modues Of Project</h5>
            <ul>
                <li>Blood Bank System</li>
                <li>Doner Management System</li>
                <li>Stock Management System</li>
                <li>User Management System</li>
            </ul>
        </div>
        <div class="bloodbank">
            <h5>Blood Bank Management</h5>
            <h6><b>Registred Companyname, Inc.</b></h6>
            <p>1234 Near Vrudavan</p>
            <p>Vadodara,Gujarat</p>
            <p>(122) 785 896</p>
        </div>
    </div>
    <div class="copywrites">
        <p>&#169 Rakt Daan - All right reserved</p>
        <p class="right-align">Devloped by  <a href="#">Tech Titans</a></p>
    </div>
</div>
<script src="/javascript/navbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>